{% extends '::layout.html.twig' %}



{% block content %}
    {{ parent() }}

    {{ render(controller('NfqWeDriveBundle:Map:index')) }}
    <nav id="user_bar" class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="{{ path('nfq_wedrive_base') }}">weDrive</a></div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="{{ path('nfq_wedrive_route_list') }}">
                            <span class="glyphicon glyphicon-th-list"></span>
                            My Routes
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                    class="glyphicon glyphicon-envelope"></span>&nbsp; Notifications
                            <span class="badge">2</span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Jane wants to join you <br/>(2014-04-02, Antakalnis)
                                    <div class="btn-group btn-group-xs this">
                                        <button type="button" class="btn btn-success">Accept</button>
                                        <button type="button" class="btn btn-danger">Decline</button>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">Peter is searching same route like yours
                                    <div class="btn-group btn-group-xs this">
                                        <button type="button" class="btn btn-info">Okay</button>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                    class="glyphicon glyphicon-user"></span>&nbsp;Jonas</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Profile</a>
                            </li>
                            <li>
                                <a href={{ path('nfq_wedrive_trip_list') }}>Trips</a>
                            </li>
                            <li>
                                <a href="#">Log out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div id="contentHolder">
        <div>
            <div class=" main_info">
                {% block list %}
                    <!-- Table -->
                    <div class="col-lg-8">
                        <h3> {{ "+3 hours"|date('Y-m-d H:i') }}   </h3>
                    </div>
                    <div class="col-lg-12">
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">New trip</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>Name:</td>
                                                    <td><input type="text" value="Antakalnis"></td>
                                                </tr>
                                                <tr>
                                                    <td>Description:</td>
                                                    <td><textarea rows="6" cols="60">I am going to
                                                            Antakalnis </textarea></td>
                                                </tr>
                                                <tr>
                                                    <td>Destination:</td>
                                                    <td>
                                                        <select>
                                                            <option value="a">Antakalnis</option>
                                                            <option value="b">Pilaitė</option>
                                                            <option value="c">Lazdynai</option>
                                                            <option value="d">Žirmunai</option>
                                                            <option value="d">Naujininkai</option>
                                                            <option value="d">Lentvaris</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Departure time:</td>
                                                    <td><input type="text" value="2014-04-10 17:45"></td>
                                                </tr>
                                                <tr>
                                                    <td>Free seats</td>
                                                    <td>
                                                        <select>
                                                            <option value="a">1</option>
                                                            <option value="b">2</option>
                                                            <option value="c">3</option>
                                                            <option value="d">4</option>
                                                            <option value="d">5</option>
                                                            <option value="d">6</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Save trip
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 id="list_title" class="panel-title">Available trips</h3>
                                {% block button %}
                                {% endblock %}
                            </div>
                            <div class="panel-body">
                                <div class="widget-container table-responsive">
                                    <table class="table table-hover table-striped order-table table-green"
                                           id="tasktable">
                                        <thead>
                                        <tr>
                                            <th>Departure</th>
                                            <th>Destination</th>
                                            <th>Driver</th>
                                            <th id="join_column"> Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for trip in otherTrips %}
                                            {% if (trip.departureTime.date|date('YmdHis') > "+3 hours"|date('YmdHis')) %}
                                                <tr>
                                                    <td> {{ trip.departureTime.date|date('m-d H:i') }} </td>
                                                    <td> {{ trip.title }}</td>
                                                    <td> {{ trip.route.user.username }}</td>

                                                    {% if trip.availableSeats == 1 %}
                                                        {% set buttonType = 'warning' %}
                                                    {% elseif trip.availableSeats == 0 %}
                                                        {% set buttonName = 'No seats' %}
                                                        {% set buttonType = 'danger' %}
                                                    {% endif %}

                                                    {% for passenger in trip.passenger %}
                                                        {% if passenger.user.username ==  userName  %}
                                                            {% if passenger.accepted == 1 %}
                                                                {% set buttonName = 'Waiting..' %}
                                                                {% set buttonType = 'warning' %}
                                                            {% elseif passenger.accepted == 2 %}
                                                                {% set buttonName = 'Already joined' %}
                                                                {% set buttonType = 'success' %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}

                                                    <td>
                                                        <button type="button" class="btn btn-{{ buttonType }} btn-xs">
                                                            &nbsp;&nbsp;&nbsp;{{ buttonName }}
                                                            &nbsp;&nbsp;&nbsp;</button>
                                                    </td>
                                                    {% set buttonName = 'Join' %}
                                                    {% set buttonType = 'success' %}
                                                    {#<td> {{ trip.availableSeats }} </td>#}
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>


{% endblock %}
