{% extends '::layout.html.twig' %}

{% block errors %}
<div id="flash_container" class="container" >
    {% set errors = app.request.session.flashBag.get('error') %}
    {% for error in errors %}
        <div class="row">
            <div id="flashbag" class="bg-danger col-md-4 col-md-offset-4">
                {% block flasherror %}
                {% endblock %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
    {{ parent() }}
    <div style="position: absolute;
  top: 8px; width: 100%; height: 1px;">
        {#{% include 'NfqWeDriveBundle:Navbar:navbar.html.twig' %}#}

        <nav id="user_bar" class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    {% block logo %}
                        <a class="navbar-brand" href="{{ path('nfq_wedrive_base') }}">weDrive</a>
                    {% endblock %}
                    {% block time %}
                        <div id="current_time"></div>
                    {% endblock %}
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" id="navbar_menu_button" >
                        MENU
                    </button>

                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        {% block  my_trip_list %}
                            <li class="dropdown">
                                <a href={{ path('nfq_wedrive_trip_list') }}>
                                    <span class="glyphicon glyphicon-tasks"></span>
                                    My Trips
                                </a>
                            </li>
                        {% endblock %}
                        {% block my_route_list %}
                            <li class="dropdown">
                                <a href="{{ path('nfq_wedrive_route_list') }}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    My Routes
                                </a>
                            </li>
                        {% endblock %}
                        {% block my_notifications %}
                            {{ render(controller('NfqWeDriveBundle:Notification:showNotifications')) }}
                        {% endblock %}
                        {% block user_profile %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                            class="glyphicon glyphicon-user"></span>&nbsp;{{ app.user.username }}</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('nfq_wedrive_base') }}profile">Profile</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('nfq_wedrive_base') }}logout">Log out</a>
                                    </li>
                                </ul>
                            </li>
                        {% endblock %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>



        <div id="contentHolder">
            <div class=" main_info">
                <div class="col-lg-12">
                    <!-- Panel ---------------->
                    <script type="text/javascript">
                        tripPoints = [];
                    </script>
                    {% block panel %}
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 id="list_title"
                                    class="panel-title"> {% block panel_title %} {% endblock %} </h3>
                                {% block panel_title_button %}
                                {% endblock %}
                            </div>
                            <div class="panel-body">
                                <div class="widget-container table-responsive">
                                    <!-- Table ---------------->
                                    {% block panel_body %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
