{% if show_join_column is not defined %}
    {% set show_join_column = 'true' %}
{% endif %}
<table class="table table-hover table-striped order-table table-green"
       id="tasktable1">

    <thead>
    <tr>
        <th>Departure</th>
        <th>Destination</th>
        <th>Driver</th>
        <th></th>
        {% if show_join_column == 'true' %}
            <th id="join_column"> Status</th>
        {% endif %}
    </tr>
    </thead>

    <tbody id="AvailableTrips">
    <script type="text/javascript">
        tripPoints = [];
    </script>
    {% set i=0 %}
    {% for tripRow in tripList %}
        {% if (tripRow.trip.departureTime.date|date('YmdHis') > "now"|date('YmdHis')) %}
        <tr class="tripRow" id="{{ tripRow.trip.id }}">
            <td> {{ tripRow.trip.departureTime.date|date('m-d H:i') }} </td>
            <td> {{ tripRow.trip.title }}</td>
            <td> {{ tripRow.trip.route.user.username }}</td>
            <td>
                    <span class="badge alert-{{ tripRow.availableSeats.type }}">
                          {{ tripRow.availableSeats.count }}
                    </span>
            </td>
            {% if show_join_column == 'true' %}
                <td>
                    <button id="tripButton{{ i }}"
                            action="{{ tripRow.buttonUrl }}"
                            type="button"
                            class="tripButton btn btn-{{ tripRow.availableSeats.type }} btn-xs trip-btn">
                        {{ tripRow.buttonName }}
                    </button>
                    {% set i  = i+1 %}
                </td>
            {% endif %}
        </tr>
        {% endif %}
        <script type="text/javascript">
            tripPoints[{{ tripRow.trip.id }}] = [];
            {% for routePoint in tripRow.routePoints %}
            tripPoints[{{ tripRow.trip.id }}].push({
                'lat': {{ routePoint.latitude }},
                'lng': {{ routePoint.longitude }}
            });
            {% endfor %}


        </script>
    {% endfor %}
    </tbody>
</table>



