<table class="table table-hover table-striped order-table table-green"
       id="tasktable2">
    <thead>
    <tr>
        <th>Departure</th>
        <th>Destination</th>
        <th>Driver</th>
        <th></th>
        <th id="join_column"> Status</th>
    </tr>
    </thead>
    <tbody id="JoinedTrips">

    {% set i=0 %}
    {% for tripRow in tripList %}
        {% if (tripRow.trip.departureTime.date|date('YmdHis') > "now"|date('YmdHis')) and (tripRow.buttonName == "Leave") %}
            <tr class="tripRow" id="{{ tripRow.trip.id }}">
                <td> {{ tripRow.trip.departureTime.date|date('m-d H:i') }} </td>
                <td> {{ tripRow.trip.title }}</td>
                <td> {{ tripRow.trip.route.user.username }}</td>
                <td>
                                <span class="badge alert-{{ tripRow.availableSeats.type }}">
                                      {{ tripRow.availableSeats.count }}
                                </span>
                </td>
                <td>

                    <button id="leaveButton{{ i }}"
                            action="{{ tripRow.buttonUrl }}"
                            type="button"
                            class=" tripButton btn btn-warning btn-xs trip-btn">
                        {{ tripRow.buttonName }}
                    </button>

                </td>
                <script type="text/javascript">
                    tripPoints[{{ tripRow.trip.id }}] = [];
                    {% for routePoint in tripRow.routePoints %}
                    tripPoints[{{ tripRow.trip.id }}].push({
                        'lat': {{ routePoint.latitude }},
                        'lng': {{ routePoint.longitude }}
                    });
                    {% endfor %}
                </script>
            </tr>
            {% set i = i+1 %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(".tripButton").on('click', function (event) {
        event.preventDefault();

        if (confirm("Are you sure?")) {
            console.log($('#' + this.id).attr('action'));
            var buttonId = this.id;

            $.ajax({
                type: "POST",
                url: $('#' + this.id).attr('action'),
                dataType: 'json',
                success: function (data) {
                    $('#available_trips').load("{{ path('nfq_wedrive_ajax_availableTrip_list') }}");
                    $('#joined_trips').load("{{ path('nfq_wedrive_ajax_joinedTrip_list') }}");
                }
            });
        }
    });
</script>
