{% extends 'NfqWeDriveBundle:Base:base.html.twig' %}

{% block panel_title %}
    My trips
{% endblock %}

{% block panel_title_button %}
    <a href="{{ path('nfq_wedrive_route_trip_new') }}" id="new_btn" type="button" class="btn btn-primary btn-sm"
           id="btn_new_trip" data-toggle="modal">
    <span class="glyphicon glyphicon-plus"></span>
</a>
{% endblock %}

{% block panel_body %}
    <table class="table table-hover table-striped order-table table-green" id="tasktable">
        <thead>
        <tr>
            <th>Departure</th>
            <th>Title</th>
            <th>Description</th>
            <th id="join_column"></th>
            <th>Free</th>
        </tr>
        </thead>

        <tbody>
        {% for trip in userTrips %}
            {% if (trip.departureTime.date|date('YmdHis') > "+3 hours"|date('YmdHis')) %}
                <tr>
                    <td> {{ trip.departureTime.date|date('m-d H:i') }} </td>
                    <td> {{ trip.title }}</td>
                    <td> {{ trip.description }}</td>
                    <td>
                        <a href = "{{ path('nfq_wedrive_trip_manage', {'tripId':trip.id }) }}" type="button" class="btn btn-warning btn-xs">&nbsp;Manage&nbsp;</a>
                    </td>
                    <td> {{ trip.availableSeats }} </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
