{% extends 'NfqWeDriveBundle:Base:base.html.twig' %}

{% block list %}
    {#{% for trip in trips %}#}
        {#{{ trip }},#}
    {#{% endfor %}#}
    <div class="col-lg-8">
        <h3>2014-03-27 19:28:03</h3>
    </div>
    <div class="col-lg-2 col-lg-offset-2">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">New trip</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <table>
                                <tr>
                                    <td>Name:</td>
                                    <td><input type="text" value="Antakalnis"></td>
                                </tr>
                                <tr>
                                    <td>Description:</td>
                                    <td><textarea rows="6" cols="60">I am going to Antakalnis </textarea></td>
                                </tr>
                                <tr>
                                    <td>Destination:</td>
                                    <td>
                                        <select>
                                            <option value="a">Antakalnis</option>
                                            <option value="b">Pilaitė</option>
                                            <option value="c">Lazdynai</option>
                                            <option value="d">Žirmunai</option>
                                            <option value="d">Naujininkai</option>
                                            <option value="d">Lentvaris</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Departure time:</td>
                                    <td><input type="text" value="2014-04-10 17:45"></td>
                                </tr>
                                <tr>
                                    <td>Free seats</td>
                                    <td>
                                        <select>
                                            <option value="a">1</option>
                                            <option value="b">2</option>
                                            <option value="c">3</option>
                                            <option value="d">4</option>
                                            <option value="d">5</option>
                                            <option value="d">6</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Save trip</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm" id="btn_new_trip" data-toggle="modal"
                data-target="#myModal">New trip
        </button>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Available trips</h3>
            </div>
            <div class="panel-body">
                <div class="widget-container table-responsive">
                    <table class="table table-hover table-striped order-table table-green" id="tasktable">
                        <thead>
                        <tr>
                            <th>Departure</th>
                            <th>Destination</th>
                            <th>Driver</th>
                            <th id="join_column">Join</th>
                            <th>Free</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for trip in trips %}
                        <tr>
                            <td> {{ trip.departTime.date|date('H:i') }} </td>
                            <td> {{ trip.title }}</td>
                            <td> {{ trip.route.user.username}} </td>

                            {#{% if trip.%}#}
                            {#<td>#}
                                {#<button type="button" class="btn btn-success btn-xs">&nbsp;&nbsp;&nbsp;Join&nbsp;&nbsp;&nbsp;</button>#}
                            {#</td>#}
                            {#{% else %}#}
                                <td><button type="button" class="btn btn-danger btn-xs">&nbsp;&nbsp;&nbsp;Join&nbsp;&nbsp;&nbsp;</button><td>
                            {#{% endif %}#}
                            <td class = "text-center"> {{ trip.availableSeats}} </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
