{% extends 'NfqWeDriveBundle:Base:base.html.twig' %}

{% block panel_title %}
    New trip
{% endblock %}

{% block panel_body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {#<div class="form-group">#}
        {#{{ form_label(form.title) }}#}
        {#{{ form_errors(form.title) }}#}
        {#{{ form_widget(form.title) }}#}
    {#</div>#}
    <div class="form-group">
        {{ form_label(form.route.name) }}
        {{ form_errors(form.route.name) }}
        {{ form_widget(form.route.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.route.destination) }}
        {{ form_errors(form.route.destination) }}
        {{ form_widget(form.route.destination) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.maxPassengers) }}
        {{ form_errors(form.maxPassengers) }}
        {{ form_widget(form.maxPassengers) }}
    </div>

    <div class="form-group">
        {{ form_label(form.departureTime) }}
        {{ form_errors(form.departureTime) }}
        {{ form_widget(form.departureTime) }}
    </div>

    {#<div class="form-group">#}
        {#{{ form_label(form.route) }}#}
        {#{{ form_errors(form.route) }}#}
        {#{{ form_widget(form.route) }}#}
    {#</div>#}

    <div class="form-group">
        {{ form_widget(form.save) }}
    </div>

    {{ form_end(form) }}

    <script type="text/javascript">
        var routeDraw = true;
    </script>
{% endblock %}

