{% extends 'NfqWeDriveBundle:Base:base.html.twig' %}

{#{% form_theme form 'NfqWeDriveBundle:Form:fields.html.twig' %}#}
{% block panel_title %}
    {% if form.vars.value.id is defined and form.vars.value.id is not empty %}
        Manage trip
    {% else %}
        New trip
    {% endif %}
{% endblock %}

{% block panel_body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.maxPassengers) }}
        {{ form_errors(form.maxPassengers) }}
        {{ form_widget(form.maxPassengers) }}
    </div>

    <div class="form-group">
        {{ form_label(form.departureTime) }}
        {{ form_errors(form.departureTime) }}
        {{ form_widget(form.departureTime, {'id': 'single_text'}) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.save) }}&nbsp;
        <a class="btn btn-sm btn-warning"
           href = "{{ path('nfq_wedrive_route_list') }}">
            Cancel
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}

