{% extends 'NfqWeDriveBundle:Base:base.html.twig' %}

{% block panel_title %}
    Available trips
{% endblock %}

{% block panel_body %}
    <table class="table table-hover table-striped order-table table-green"
           id="tasktable">
        <thead>
        <tr>
            <th>Departure</th>
            <th>Destination</th>
            <th>Driver</th>
            <th></th>
            <th id="join_column"> Status</th>
        </tr>
        </thead>
        <tbody>

        {% for tripRow in tripsList %}
            {% if (tripRow.trip.departureTime.date|date('YmdHis') > "+3 hours"|date('YmdHis')) %}
                <tr>
                    <td> {{ tripRow.trip.departureTime.date|date('m-d H:i') }} </td>
                    <td> {{ tripRow.trip.title }}</td>
                    <td> {{ tripRow.trip.route.user.username }}</td>
                    <td><span class="badge alert-{{ tripRow.availableSeats.type }}">
                            {{ tripRow.availableSeats.count }}
                        </span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-{{ tripRow.availableSeats.type }} btn-xs">
                            &nbsp;&nbsp;&nbsp;{{ tripRow.buttonName }}
                            &nbsp;&nbsp;&nbsp;</button>
                    </td>
                    {% set buttonName = 'Join' %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
