{% extends 'NfqWeDriveBundle:Base:base.html.twig' %}

{#{% block panel_title %}#}
    {#Available trips#}
{#{% endblock %}#}

{% block panel %}
<div class="panel panel-primary">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#available_trips" data-toggle="tab">Available trips</a></li>
        <li><a href="#joined_trips" data-toggle="tab">Already joined</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="available_trips">
            <table class="table table-hover table-striped order-table table-green"
                   id="tasktable">
                <thead>
                <tr>
                    <th>Departure</th>
                    <th>Destination</th>
                    <th>Driver</th>
                    <th></th>
                    <th id="join_column"> Status</th>
                </tr>
                </thead>
                <tbody>

                {% for tripRow in tripsList %}
                    {% if (tripRow.trip.departureTime.date|date('YmdHis') > "+3 hours"|date('YmdHis')) %}
                        <tr>
                            <td> {{ tripRow.trip.departureTime.date|date('m-d H:i') }} </td>
                            <td> {{ tripRow.trip.title }}</td>
                            <td> {{ tripRow.trip.route.user.username }}</td>
                            <td>
                                <span class="badge alert-{{ tripRow.availableSeats.type }}">
                                      {{ tripRow.availableSeats.count }}
                                </span>
                            </td>
                            <td>

                                <a {% if tripRow.buttonDisabled or tripRow.buttonName == "Joined" %} disabled="disabled" {% endif %}
                                        href="{{ path('nfq_wedrive_trip_join',{'tripId':tripRow.trip.id}) }}"
                                        type="button" class="btn btn-{{ tripRow.availableSeats.type }} btn-xs">
                                    &nbsp;&nbsp;&nbsp;{{ tripRow.buttonName }}
                                    &nbsp;&nbsp;&nbsp;
                                </a>
                            </td>
                            {% set buttonName = 'Join' %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="joined_trips">
            <table class="table table-hover table-striped order-table table-green"
                   id="tasktable">
                <thead>
                <tr>
                    <th>Departure</th>
                    <th>Destination</th>
                    <th>Driver</th>
                    <th></th>
                    <th id="join_column"> Status</th>
                </tr>
                </thead>
                <tbody>

                {% for tripRow in tripsList %}
                    {% if (tripRow.trip.departureTime.date|date('YmdHis') > "+3 hours"|date('YmdHis')) and (tripRow.buttonName == "Joined") %}
                        <tr>
                            <td> {{ tripRow.trip.departureTime.date|date('m-d H:i') }} </td>
                            <td> {{ tripRow.trip.title }}</td>
                            <td> {{ tripRow.trip.route.user.username }}</td>
                            <td>
                                <span class="badge alert-{{ tripRow.availableSeats.type }}">
                                      {{ tripRow.availableSeats.count }}
                                </span>
                            </td>
                            <td>

                                <a disabled = "disabled" type="button" class="btn btn-danger btn-xs">
                                    &nbsp;&nbsp;&nbsp;{{ tripRow.buttonName }}
                                    &nbsp;&nbsp;&nbsp;
                                </a>
                            </td>
                            {% set buttonName = 'Join' %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
