{% extends 'NfqWeDriveBundle:Base:base.html.twig' %}

{% block panel_title %}
    My routes
{% endblock %}

{% block flasherror %}
    {{ parent() }}
    {{ error }}
{% endblock %}

{% block panel_title_button %}
    <a href="{{ path('nfq_wedrive_route_new') }}" id="new_btn" type="button" class="btn btn-primary btn-sm"
       id="btn_new_trip" data-toggle="modal">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
{% endblock %}

{% block panel_body %}
    <table class="table table-hover table-striped order-table table-green" id="tasktable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Destination</th>
            {#<th></th>#}
            <th id="btn_column"></th>
        </tr>
        </thead>
        <tbody id="RouteBody">
        <script type="text/javascript">
            var routePoints = new Array();
        </script>
        {% for routeObj in routes %}
            <tr class="routeRow" id="{{ routeObj.route.id }}">
                <td>{{ routeObj.route.name }}</td>
                <td>{{ routeObj.route.destination }}</td>
                {#<td>#}
                    {#<a href="{{ path('nfq_wedrive_route_manage',{'routeId':routeObj.route.id}) }}"#}
                       {#class="btn btn-warning btn-xs">#}
                        {#Manage#}
                    {#</a>#}
                {#</td>#}
                <td>
                    {#<a href="{{ path('nfq_wedrive_trip_new',{'routeId':routeObj.route.id}) }}" type="button"#}
                       {#class="btn btn-success btn-xs">#}
                        {#<span#}
                                {#class="glyphicon glyphicon-chevron-right">#}
                        {#</span>#}
                    {#</a>#}
                    <div class="btn-group btn-group-sm">
                        <a href="{{ path('nfq_wedrive_trip_new',{'routeId':routeObj.route.id}) }}"
                           type="button"
                           class="btn btn-primary btn-xs">
                            Create trip
                        </a>
                        {#<button type="button" class="btn btn-primary">Create trip</button>#}
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ path('nfq_wedrive_route_manage',{'routeId':routeObj.route.id}) }}">
                                    Manage route
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a onclick="return actionConfirmation('Are you sure you want to delete route?');"
                                   href = "{{ path('nfq_wedrive_route_delete',{'routeId':routeObj.route.id}) }}"
                                   class="list-delete-button">
                                    Delete route
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                <script type="text/javascript">
                    routePoints[{{ routeObj.route.id }}] = new Array();
                    {% for routePoint in routeObj.routePoints %}
                    routePoints[{{ routeObj.route.id }}].push({
                        'lat': {{ routePoint.latitude }},
                        'lng': {{ routePoint.longitude }}
                    });
                    {% endfor %}
                </script>
            </tr>
        {% endfor %}
        <script type="text/javascript">
            console.log(routePoints);
        </script>
        </tbody>
    </table>
{% endblock %}
