{% extends 'NfqWeDriveBundle:Base:base.html.twig' %}

{% block panel_title %}
    {{ route.name }}
{% endblock %}

{% block panel_title_button %}
    {#<a onclick="return actionConfirmation('Are you sure you want to delete route?');"#}
            {#href = "{{ path('nfq_wedrive_route_delete',{'routeId':route.id}) }}"#}
            {#id="new_btn"#}
            {#type="button"#}
            {#class="btn btn-primary btn-sm btn-danger"#}
            {#data-toggle="modal">#}
    {#<span class="glyphicon glyphicon-remove"></span>#}
    {#</a>#}
{% endblock %}

{% block panel_body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.destination) }}
        {{ form_errors(form.destination) }}
        {{ form_widget(form.destination) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.save) }}
        <a class="btn btn-sm btn-warning"
           href = "{{ path('nfq_wedrive_route_list') }}">
            Cancel
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}
