{% extends 'NfqWeDriveBundle:Base:base.html.twig' %}

{#{% form_theme form 'NfqWeDriveBundle:Form:fields.html.twig' %}#}

{% block panel_title %}
    New Route
{% endblock %}

{% block panel_body %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.destination) }}
        {{ form_errors(form.destination) }}
        {{ form_widget(form.destination) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.save) }}
    </div>

    {{ form_end(form) }}
{% endblock %}
