{% if notifications is defined %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-envelope"></span>&nbsp; Notifications
            <span class="badge">{{ notifications.count }}</span></a>
        <ul class="dropdown-menu">
            {% for request in notifications.requests %}
                <li>
                    {#<a href="#" >{{ request.message }}#}

                        {#<div class="btn-group btn-group-xs this">#}
                            {#<a href="{{ path('nfq_wedrive_passenger_join_accept',{'passengerId':request.passengerId}) }}"#}
                               {#type="button" class="btn btn-success">#}
                                {#Accept#}
                            {#</a>#}
                            {#<a href="{{ path('nfq_wedrive_passenger_join_reject',{'passengerId':request.passengerId}) }}"#}
                               {#type="button" class="btn btn-danger">#}
                                {#Reject#}
                            {#</a>#}
                            {#&#123;&#35;<button type="button" class="btn btn-success">Accept</button>&#35;&#125;#}
                            {#&#123;&#35;<button type="button" class="btn btn-danger">Decline</button>&#35;&#125;#}

                        {#</div>#}
                    {#</a>#}
                    {{ form_start(request.form) }}
                        {{ form_errors(request.form) }}
                        <a href="#" style="padding-right: 60px">{{ request.message }}
                            <div class="btn-group btn-group-xs this">
                                {{ form_widget(request.form.Accept, {'attr': {'class': 'btn btn-success'}}) }}
                                {{ form_widget(request.form.Reject, {'attr': {'class': 'btn btn-danger'}}) }}
                            </div>
                        </a>
                    {{ form_end(request.form) }}
                </li>
            {% endfor %}
            {% for message in notifications.messages %}
                <li>
                    <a href="#">{{ message.message }}
                        <div class="btn-group btn-group-xs this">
                            <button type="button" class="btn btn-info">Okay</button>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}