{% if notifications is defined %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-envelope"></span>&nbsp; Notifications
            <span class="badge">{{ notifications.count }}</span></a>
        <ul class="dropdown-menu">
            {% for request in notifications.requests %}
                <li >
                    {{ request.message }}
                    <div class="btn-group btn-group-xs this">
                        <a href="{{ path('nfq_wedrive_passenger_join_reject',{'passengerId':request.passengerId}) }}"
                           type="button" class="btn btn-danger">
                            Reject
                        </a>
                        <a href="{{ path('nfq_wedrive_passenger_join_accept',{'passengerId':request.passengerId}) }}"
                           type="button" class="btn btn-success">
                            Accept
                        </a>
                    </div>
                </li>

            {% endfor %}
            {% for message in notifications.messages %}
                <li >
                    {{ message.message }}
                    <div class="btn-group btn-group-xs this">
                        <a href="{{ path('nfq_wedrive_passenger_join_accept',{'passengerId':message.passengerId}) }}"
                           type="button" class="btn btn-info btn-xs">
                            Okay
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}