{% extends "::base.html.twig" %}

{% block fos_user_content %}

    <div class="container" >
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-login" id="login_form">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <h2 >Log in</h2>
                    {% if error %}
                        <div id="login_form_error">{{ error|trans({}, 'FOSUserBundle') }}</div>
                    {% endif %}
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="Username" autofocus />

                    <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Password" />

                    <div>
                        <label for="remember_me" class="checkbox">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"   />
                            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                        </label>
                    </div>

                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-lg btn-primary btn-block" />
                </form>
            </div>
        </div>
        <div class="row">
            <div class=" col-sm-offset-4 col-sm-4" style=" padding-top: 6px">
                <a  href="{{ path('nfq_user_registration') }}" class=""  >Register</a>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}
